*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

#donate-container{
    display: flex;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
}

.donate-container{
    border: 1px solid black;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
    width: 50%;
}

.donate-container p{
        font-size: 20px;
}

.donate-container button{
        padding: 0.5em;
        font-size: 20px;
        cursor: pointer;
        background-color: purple;
        color: orange;
        border: none;
        border-radius: 10px;
}

/* body{
   background-image: url(background/donate\ banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */


/*  start main css style */

#homepage-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.homepage-button{
    height: 50px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    margin-top: 1em;
    font-size: 20px;
    background: none;
    border: 1px solid orange;
    border-radius: 5px;
}
#pradesh-div{
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.homepage-button{
    height: 38px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    margin-left: 1.5em;
    margin-top: 1em;
    font-size: 20px;
    background: none;
    border: 1px solid orange;
    border-radius: 5px;
}

.box1,.box2{
        height: auto;
        width: 800px;
        margin-left: 1.3em;
         margin-bottom: 50px;
}
.box1 h1{
    font-size: 2.5em;
    margin-left: 5px;
    margin-top: 5px;
}

.box1 p{
    font-size: 1.2em;
    margin-left: 5px;
    margin-top: 5px;
}

.box1 button{
    height: 40px;
    width: 122px;
    font-size: 18px;
    margin-left: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;  
}


.box2 input{
    height: 40px;
    width: 350px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 25px;
}

.check-box input{
    width: 15px;
    margin-top: -10px;
}

.check-box label{
        font-size: 20px;
}

.submit p{
    font-size: 20px;
}

 .donate{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 0.5em;
    background-color: orange;
    cursor: pointer;
    margin-left: 8em;
} 

/*  End main css style */

/*  start footer css style */

#name-div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        color: white;
        font-size: 20px;
        margin-top: 8em;
        background-color: purple;
}

.donation2 a{
    padding: 10px;
}

.donation2 img:hover{
    background-color: orange;
    border-radius: 50%;
    transform: scale(1.2);
}

 /*  End footer css style */
 @media screen and (min-width:900px){
       
    #pradesh-div, #name-div{
        height: auto;

    }

    .homepage-button{
        width: auto;
        padding: 0.5em;
        margin-left: -0.2em;
        height: auto;
        }

    #name-div{
        height: auto;
        /* margin-top: 2em; */
    }

    .donation1{
        width: 100%;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .donation2{
        width: 100%;
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .donate-container{
            width: 50%;
        }
}

 

  /* responsive for laptop */
  @media screen and (max-width:900px){
       
        #pradesh-div, #name-div{
            height: auto;

        }
        .box1, .box2{
            width: 100%;
            text-align: center;
            height: auto;
            padding: 20px;
        }

        #name-div{
            height: auto;
        }

        .donation1{
            width: 100%;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .donation2{
            width: 100%;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .donate-container{
            width: 95%;
        }
  }

  @media screen and (max-width:768px){
       
       #pradesh-div{
           height: auto;

       }
       .box1, .box2{
           width: 90%;
           text-align: center;
           padding: 20px;
           height: auto;
       }

        .homepage-button{
        width: auto;
        padding: 0.5em;
        margin-left: -0.2em;
        height: auto;
        }

       .box1 button{
            width: 30%;
       }

       #check-box{
            width: 15px;
       }

       .box2 input{
            width: 90%;
       }

       #name-div{
            height: auto;
        }

       .donation1{
            width: 80%;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .donation2{
            width: 80%;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .donate-container{
            width: 95%;
        }
 }

 @media screen and (max-width:480px){
       
       #pradesh-div{
           height: auto;

       }

       .homepage-button{
        width: auto;
        padding: 0.5em;
        margin-left: -0.2em;
        height: auto;
        }

       .box1, .box2{
           width: 93%;
           text-align: center;
           padding: 20px;
           height: auto;
       }

       .box1 button{
        width: 45%;
        height: auto;
        padding: 10px;
   }

   .box2 input{
        width: 95%;
   }

       .donation1{
            width: 100%;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .donation2{
            width: 99%;
            /* display: flex; */
            flex-wrap: nowrap;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .donate-container{
            width: 95%;
        }
 }

