/* start header style */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.logo img{
/* width: 50px; */
max-width: 105px;
margin-left: auto;
margin-top: 15px;

}

#navbar{
display: flex;
height: 150px;
justify-content: center;
align-items: center;
font-size: 20px;
justify-content: space-evenly;
top: 0px;
}

.nav-div{
width: 100%;
height: auto;
display: flex;
position: absolute;
position: fixed;
justify-content: center;
background-color: azure;
gap: 25px;
z-index: 1;
top: -35px;
align-items: center;
margin: 20px;
}

ul{
list-style-type: none;
}

.navbar a{
color: blue;
margin-right: 25px;
text-decoration: none;
font-size: 21px;
}

.navbar a:hover{   
color: black;
border-radius: 5px;

}

.lok{
    color: blue;
}

span{
color: #C76E00;
}

.donate button{
cursor: pointer;
height: auto;
font-size: 20px;
background-color: orange;
border: none;
padding: 0.5em;
border-radius: 20px;
width: auto;
}

.donate button:hover{
box-shadow: 0px 0px 10px purple;
}


.account img:hover{
box-shadow: 0px 0px 10px purple;
border-radius: 50%;
}

.menu-toggle {
display: none;
font-size: 30px;
cursor: pointer;
/* text-align: center; */
/* color: red; */
margin-left: -0.3em;
padding: 5px;
}

/* end header style */

/* start main style */
/* banner- background--------------------------------------- */
#home-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.home-div1{
    width: 100%;
    height: 800px;
    background-image: url(background/banner.lok\ samadha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10em;
}

.home-div1 img{
    height: 800px;
    width: 100%;
}

.home-div1 h2{
color: black;
font-size: 2em;
margin-top: 8em;
margin-left: 5em;
margin-right: 10em;
}

.home-div1 p{
        font-size: 1.2em;
        padding-left: 8.5em;
        font-weight: bold;
}

.home-div1 button{
        background-color: orange;
        font-size: 18px;
        margin-left: 9em;
        padding: 0.5em;
        border: none;
        border-radius: 10px;
        transition: all 0.5s ease;
}

.home-div1 button:hover{
        background-color: purple;
        cursor: pointer;
        color: white;
        letter-spacing: 2px;
}

/* vodeo-------------------------------------------- */
#video-container{
    display: flex;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.video:hover{
    box-shadow: 0px 0px 10px orange;
    border-radius: 10px;
}

#vision-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
       
}

.vision-div{
        color: purple;
        font-size: 1.5em;
        text-align: center;
}

.vision-div p{
        font-size: 25px;
}

#video-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;

}

.video iframe{
    height: auto;
}

#content{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    width: 95%;
}

#content p{
    color: white;
    font-size: 20px;
}

.content-div{
        width: 40%;
        background-color: black;
        height: 400px;
        padding: 0px 1.5em 4em 1.5em;
        border-radius: 15px;
}

.content-div button{
    cursor: pointer;
}

.content-div h2{
        color: white;
        text-align: center;
        margin-top: 1em;
}

.content-div p{
        color: white;
        padding-left: 5px;
        font-size: 20px;
        margin-top: 2em;
}

.content-div button{
        margin-left: 5px;
        font-size: 15px;
        width: 30%;

}

/* footer banner------------------------------------ */
#footer-banner{
        background-image: url(background/footer-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.footer-div h2{
        font-size: 3.7em;
        text-align: center;
        font-weight: bold;
        margin-bottom: 8em;
}

/* image slider------------------------------------- */
#slider{
    position: relative;
    max-width: 80%;
    height: 500px;
    left: 10%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px orange;
}

.slides{
        position: relative;
        width: 85%;
        left: 8%;
        height: 500px;
}

.slide{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
}

.slide img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 0px orange;
}

.slide:nth-child(1) { animation: fade 9s infinite 0s; }
.slide:nth-child(2) { animation: fade 9s infinite 3s; }
.slide:nth-child(3) { animation: fade 9s infinite 6s; }
.slide:nth-child(4) { animation: fade 9s infinite 6s; }
.slide:nth-child(5) { animation: fade 9s infinite 6s; }
.slide:nth-child(6) { animation: fade 9s infinite 6s; }
.slide:nth-child(7) { animation: fade 9s infinite 6s; }
.slide:nth-child(8) { animation: fade 9s infinite 6s; }

@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}
/* map---------------------------------------------- */
#map{
display: flex;
background-color: rgb(151, 188, 188);
background-color: aliceblue;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.adress-div{
height: 330px;
width: 400px;
}

.adress-div p{
font-size: 25px;
font-weight: bold;
padding: 1em;
}

.adress-div button{
background-color: aqua;
width: 30%;
margin-left: 1.5em;
border: none;
font-weight: bold;
border-radius: 10px;
}

.adress-div button:hover{
background-color: aquamarine;
box-shadow: 0px 0px 5px;
}

.map-div iframe{
border-radius: 10px;
}

/* end main style */

/* Start footer Style */
#footer{
height: 250px;
background-color:rgb(231, 152, 5);
display: flex;
padding-bottom: 1.5em;
justify-content: end;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;     
}

.div-container1, .div-container2, .div-container3, .div-container4 {
width: 300px;
height: 230px;
align-content: start;
border-radius: 10px;
align-items: start;
justify-content: center;
}

#send-button{
    background-color:rgb(72, 73, 74);
    color: white;
}

.div-container1,.div-container2,.div-container3,.div-container4,a,p{
font-size: 18px;
text-decoration: none;
line-height: 30px;
color: black;

}

#footer a:hover{
border-bottom: 3px solid purple;
padding: 0.3em;
border-radius: 10px;
}

#whatsapp-icon{
    display: inline-block;
    position: fixed;
    cursor: pointer;
    left: 0.3em;
    bottom: 5em;
}

#top-arrow{
    display: inline-block;
    position: fixed;
    cursor: pointer;
    right: 0.3em;
    bottom: 5em;
}


.div-container4 input,textarea{
height: 30px;
width: 256px;
border-radius: 5px;
font-size: 18px;
border: none;
}

input{
cursor: pointer;
height: 35px;
width: 250px;
}

#copyright-div{
height: 50px;
background-color: rgb(207, 203, 197);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap: wrap;
justify-content: space-evenly;
}

.box1, .box2, .box3{
width: 445px;
height: 50px;
}

.box1 a{
color: black;
font-size: 18px;

}

.box3 a:hover{
color: black;
border-bottom: 3px solid red;
border-radius: 5px;
}

#icons{
background-color: rgb(103, 5, 103);
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.icon {
display: flex;
justify-content: center;
justify-content: space-evenly;
padding: 10px;
bottom: 0;
width: 80%;
}

.icon a {
color: white;
font-size: 24px;
text-decoration: none;
}

.icon img:hover {
background-color: orange;
border-radius: 50%;
transform: scale(1.4);
}
/*End footer style*/

/* responsive for large screen */
@media screen and (min-width: 900px){
    .nav-div {
    flex-direction: row;
    height: auto;
    width: 100%;
    padding: 10px;
    }

    .nav-div h3{
        font-size: 1.5em;
        text-align: center;
    }
    .logo img{
        width: 120px;
        margin-left: 0.3em;
    }
    
    .div-container1,.div-container2,.div-container3,.div-container4{
    width: 25%; 
    height: auto; 
    text-align: center;   
    }

    .div-container4 input{
        width: 70%;
    }
    
    #home-div1,#video-container,#vision-container, #video-div, #footer-banner,#map, #copyright-div,#footer{
        height: auto;
    }
    
    .home-div1{
            width: 100%;
    }
    
    .home-div1 h2{
            font-size: 2em;
    }
    
    .video iframe{
        height: auto;
    }
    
    .slide img{
            width: 100%;
    }
    
    .vision-div h1{
        font-size: 2.2em;
    }
    
    .vision-div p{
        font-size: 1em;
    }
    
    .video1{
        padding-bottom: 2em;
        height: 380px;
        width: 45%;
    }
    
    .content-div{
        width: 45%;
        height: auto;
    }
    .content-div button{
        margin-left: 2em;
        width: 30%;
        height: 30px;
        margin-bottom: 1em;
    }
        
    .video1 iframe{
        width: 100%;
    }

    .adress-div, .map-div{
        width: 32%;
}

.adress-div button{
        height: 34px;
        width: 40%;
}

.map-div iframe{
        width: 110%;
}

    
.footer-div h2{
    font-size: 3.5em;
}
    
.box1, .box2, .box3{
    width: 30%;
    margin-right: 20px;
    text-align: center;
    height: auto;
    }
}

/* responsive for laptop */
@media screen and (max-width: 900px){
.nav-div {
flex-direction: row;
height: auto;
padding: 10px;
}

.nav-div h3{
    font-size: 1.6em;
    
}

.logo img{
    width: 120px;
    margin-left: 1.5em;
}

.navbar {
display: none;
flex-direction: column;
text-align: center;
width:100%;
position: absolute;
top: 122px;
background-color: azure;
padding: 10px 0;
}

.navbar.active {
display: flex;
}

.navbar a {
display: block;
padding: 10px;
margin: 5px 0;
}

.navbar a:hover{
    background-color: orange;
    color: white;
}

.menu-toggle {
display: block;
}

.div-container1,.div-container2,.div-container3,.div-container4{
width: 38%; 
height: auto; 
text-align: center;   
}

#home-div1,#video-container,#vision-container, #video-div, #footer-banner,#map, #copyright-div,#footer{
    height: auto;
}

.home-div1{
        width: 100%;
}

.home-div1 h2{
        font-size: 2em;
}

.video{
    width: 35%;
    margin-top: 1em;
}

.video iframe{
    height: 200px;
}

.slide,.slide img{
        width: 100%;
        height: auto;
}

.vision-div{
    margin-top: -5em;
}

.vision-div h1{
    font-size: 2.2em;
}

.vision-div p{
    font-size: 1em;
}

.video1, .content-div{
    padding-bottom: 2em;
    height: auto;
    width: 90%;
}

.content-div button{
    display: grid;
    margin-left: 14em;
    padding: 10px 0px 10px 0px;
    width: 30%;
    margin-bottom: 1em;
}

.video1 iframe{
    width: 100%;
}

.footer-div h2{
    font-size: 3.5em;
}

.adress-div, .map-div{
            width: 45%;
    }

    .adress-div button{
        height: 34px;
        width: 48%;
}

.map-div iframe{
    width: 100%;
}

.box1, .box2, .box3{
    width: 80%;
    margin-right: 20px;
    text-align: center;
    height: auto;
    }
}

/* responsive for tablets */
@media screen and (max-width:768px){
.div-container1,.div-container2,.div-container3,.div-container4{
    width: 50%; 
    height: auto; 
    text-align: center;   
}

.div-container4 input{
    width: 80%;
}

.nav-div h3{
    font-size: 1.6em;
    margin-right: 1em;
    text-align: center;
    
}

.logo img{
    width: 100px;
}

.menu-toggle{
    margin-right: 1em;
}


#home-div1,#video-container, #vision-container,#video-div, #footer-banner,#map, #copyright-div,#footer{
    height: auto;
}

.home-div1{
    width: 100%;
    
}

.home-div1 h2{
    font-size: 2em;
    width: 80%;
    margin-left: 1.2em;
}

.home-div1 p{
    width: 50%;
    margin-left: -6.5em;
}

.home-div1 button{
        margin-left: 2.2em;
}

.video{
        width: 90%;
        margin-top: 1em;
}

.video iframe{
    height: 300px;
    width: 100%;
}

.slide,.slide img{
        width: 100%;
        height: auto;
}

.vision-div{
        margin-top: -8em;
}

.vision-div h1{
    font-size: 1.5em;
}

.vision-div p{
    font-size: 0.9em;
}

.video1, .content-div{
    padding-bottom: 2em;
    height: auto;
    width: 85%;
}

.content-div button{
    display: grid;
    margin-left: 8em;
    width: 35%;
    margin-bottom: 1em;
}

#content{
    width: 88%;
}


.video1 iframe{
    width: 100%;
}

.footer-div h2{
    font-size: 2.2em;
    margin-top: 1em;
}

.adress-div{
        width: 80%;
        text-align: center;
    }

    .adress-div p{
        line-height: 35px;
    }

    .adress-div button{
        margin-right: 1em;
        width: 35%;
    }

    .map-div{
            width: 40%;
    }

    .map-div{
        width: 97%;
    }

    .map-div iframe{
        width: 100%;
    }

.box1, .box2, .box3{
        width: 80%;
        margin-right: 20px;
        text-align: center;
        height: auto;
    }
}

/* responsive for phone */
@media screen and (max-width:480px){
.div-container1,.div-container2,.div-container3,.div-container4{
width: 95%; 
height: auto; 
text-align: center;   
}

.div-container4 input{
    width: 65%;
}

.nav-div h3{
    font-size: 27px;
    /* display: flex; */
    margin-right: 1em;
    text-align: center;
    
}

.logo img{
    width: 90px;
    margin-left:2em;
}

.menu-toggle{
    margin-right: 1.5em;
    margin-top: -0.1em;
    color: black;
}


#home-div1, #vision-container,#footer-banner,#map, #copyright-div,#footer{
    height: auto;
}

.home-div1{
    width:100%;
    height: auto;
}

.home-div1 h2{
    font-size: 2em;
    margin-top: 6em;
    width: 90%;
    margin-left: 1em;
    color: purple;

}

.home-div1 p{
    margin-left: -6.5em;
}

.home-div1 button{
    margin-left: 2.5em;
        
}

.video{
    width: 80%;
     margin-top: 2em;
}

.video iframe{
    height: 200px;
    width: 100%;
    
}

.slide,.slide img{
    width: 100%;
    height: auto;
}

.vision-div{
    margin-top: -15em;
}

.vision-div h1{
    font-size: 1.3em;
}

.vision-div p{
    font-size: 0.9em;
}

.video1, .content-div{
    padding-bottom: 2em;
    height: auto;
    width: 80%;
}

.content-div button{
    display: grid;
    margin-left: 2em;
    width: 80%;
    margin-bottom: 1em;
}

#content{
    width: 88%;
}

.video1 iframe{
    width: 100%;
}

.footer-div h1{
        font-size: 2.2em;
        text-align: center;
}

.adress-div, .map-div{
        width: 80%;
    }

   
.adress-div p{
        text-align: center;
        font-size: 1.3em;
    }

.adress-div button{
        margin-left: 1em;
        width: 50%;
    }

.map-div{
        width: 95%;
    }

.map-div iframe{
        width: 100%;
    }

.footer-div h2{
        font-size: 2em;
    }

.box1, .box2, .box3{
    width: 80%;
    margin-right: 20px;
text-align: center;
height: auto;
}

 #whatsapp-icon img{
    width: 17%;
    /* margin-left: 2em; */
}
#top-arrow img{
      width: 70%;
    /* margin-left: 2em; */
}
}
}